<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="%JAVA_HOME%\bin\java.exe" arguments="-Djava.net.preferIPv4Stack=true -Dport.http=3000 -jar &quot;%HOME%\site\wwwroot\Back-End\Backend.jar&quot;" stdoutLogEnabled="true" startupRetryCount='10'>
        </httpPlatform>
    </system.webServer>
</configuration>