.sidebar {
    display: flex;
    flex-direction: row;
    height: 100%; /* 100% Full-height */
    width: 360px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 1s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebarLeft {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px;
    height: calc(100% - 20px);
    width: 288px;
    background-color:#202225; /* Grey*/
    border-radius: 5px;
    transition: 0.5s;

}

.sidebarRight {
    height: 100%;
    width: 72px;
}

.logo {
    z-index: 2;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    padding-top: 0%;
    border-radius: 5px;
}

.logo:hover {
    opacity: 0.9;
}

.title {
    color: whitesmoke;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15pt;
    margin: 20px;
    opacity: 0.8;
}

.header {
    margin-left: 40px;
    margin-top: 80px;
    color: whitesmoke;
    opacity: 0.5;
}

.building {
    margin-left: 50px;
    color: whitesmoke;
    opacity: 0.7;
}

html, body { 
    height: 100%; 
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#map {
    top: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}