
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Montserrat+Alternates:ital,wght@1,300&display=swap');
/* font-family: 'Cantarell', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@600&display=swap');
/*font-family: 'Spectral', serif;*/
.content {
    display: flex;
    flex-direction: row;
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 1s; /* 0.5 second transition effect to slide in the sidebar */
    pointer-events: none;
}

.sidebarLeft {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px;
    height: calc(100% - 20px);
    width: 288px;
    background-color:#202225; /* Grey*/
    border-radius: 10px;
    transition: 0.5s;
    pointer-events: auto;
    font-family: 'Montserrat Alternates', sans-serif;
}

.sidebarLeft:hover {
    border-radius: 1em;
	transition: 0.5s;
}

.sidebarLeft:active {
    transform: translateY(-5px);
    transition: 1s;
}

.sidebarRight {
    height: 100%;
    width: 72px;
}

.logo {
    margin-top: 10px;
    width: 70px;
    height: 70px;
    padding-top: 0%;
    border-radius: 5px;
    pointer-events: auto;
}

.logo:hover {
    border-radius: 1em;
    transition: 0.5s;
}

.logo:active {
    transform: translateY(-5px);
    transition: 1s;
}

.title {
    color: whitesmoke;
    text-align: center;
    font-size: 20pt;
    margin: 20px;
    opacity: 0.8;
    font-family: 'Spectral', serif;
}

.header {
    margin-left: 40px;
    margin-top: 80px;
    color: whitesmoke;
    opacity: 0.5;
}

.building, .bus-stop {
    margin-left: 50px;
    color: whitesmoke;
    opacity: 0.7;
    width: 200px;

    background-image: linear-gradient(grey,grey), linear-gradient(#202225, #202225);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.building:hover, .bus-stop:hover {
    opacity: 1;
    background-size: 100% 1px, auto;
}

html, body { 
    height: 100%; 
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#map {
    top: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.horizontalBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #202225;
    width: calc(100% - 398px);
    height: 70px;
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s;
    color: whitesmoke;
    pointer-events: auto;
    font-family: 'Montserrat Alternates', sans-serif;
}

.horizontalBar:hover {
    border-radius: 1em;
    transition: 0.5s;
}

.horizontalBar:active {
    transform: translateY(-5px);
    transition: 1s;
}

.marker  {
    width: 20px;
    height: 30.72px;
    margin: 20px;
}

.tofrom {
    color: whitesmoke;
}

.horizontalSpacer {
    width: 120px;
    font-size: 30pt;
}

.verticalSpacer {
    height: 50px;
}

.bar {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20pt;
    opacity: 0.5;
}

.inputs {
    margin-left: 40px;
    
}

.select {
    border-radius: 3px;
    width: 200px;
    height: 40px;
    background-color: #202225;
    color: whitesmoke;
    border-width: 5px;
    transition: 0.5s;
    font-family: 'Montserrat Alternates', sans-serif;
}

.select:hover {
    opacity: 0.6;
}

option {
    transition: 0.5s;
}

#navBtn {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
}

#navBtn:hover {
    background-color: #202225;
    color: whitesmoke;
    border-color: whitesmoke;
    transition: 0.5s;
}