@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
/*font-family: 'Castoro', serif; */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700;800&display=swap');
/*font-family: 'Encode Sans', sans-serif;*/
/*available weights: 400 -> 800 */

#content {
    display: flex;
    flex-direction: row;
    height: 100%; 
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1s; 
    pointer-events: none;
}


#sidebarLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px;
    height: calc(100% - 20px);
    width: 288px;
    background-color: #4b2e83;
    border-radius: 10px;
    transition: 0.5s;
    pointer-events: auto;
    font-family: 'Encode Sans', sans-serif;
}

.sidebarLeft:hover {
	transition: 0.5s;
}

.sidebarRight {
    height: 100%;
    width: 72px;
    text-align: center;
}

.header {
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: whitesmoke;
    opacity: 1;
    font-size: 12pt;
    cursor: pointer;
    padding: 5px 5px 2px 2px;
}

.header:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.location {
    margin-left: 50px;
    color: whitesmoke;
    width: 200px;
    background-image: linear-gradient(#b7a57a,#b7a57a), linear-gradient(transparent,transparent);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .15s ease-in-out;
    font-weight: 600;
    cursor: pointer;
    white-space: normal;
    overflow-wrap: break-word;
}

.location:hover {
    opacity: 1;
    background-size: 100% 1px, auto;
}

/* enables full-screen map */
html, body { 
    height: 100%; 
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#map {
    top: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}


#coffeeIcon {
    width: 35px;
    height: 35px;
    margin-top: 3px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.horizontalBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #4b2e83;
    width: calc(100% - 398px);
    height: 70px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 0px;
    transition: 0.5s ease-out;
    color: whitesmoke;
    pointer-events: auto;
    font-family: 'Encode Sans', sans-serif;
    overflow: hidden;
}

.horizontalBar:hover {
    transition: 0.5s;
}

#startMarker  {
    width: 25px;
    height: 25px;
    margin: 20px;
}

#endMarker  {
    width: 20px;
    height: 30.72px;
}

.marker {
    margin: 20px;
}

.tofrom {
    color: whitesmoke;
    transition: 0.1s;
}

.horizontalSpacer {
    width: 60px;
    font-size: 30pt;
}

.verticalSpacer {
    height: 40px;
}

.bar {
    margin-left: 17px;
    margin-right: 17px;
    font-size: 20pt;
    color: #b7a57a;
}

.select {
    border-radius: 3px;
    width: 200px;
    height: 40px;
    background-color: whitesmoke;
    color: black;
    border-width: 3px;
    transition: 0.5s;
    font-family: 'Encode Sans', sans-serif;
}

.select:hover {
    opacity: 0.6;
}

option {
    transition: 0.5s;
}

/*
#navBtn {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-family: 'Encode Sans', sans-serif;
    background-color: #b7a57a;
    cursor: pointer;
}
*/
#navBtn:hover {
    background-color: #808080;
    border-color: #b7a57a;
  
    transition: 0.5s;
}


.vertical-menu {
    height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

/* hide scrollbar */
::-webkit-scrollbar {
    width: 0px;
}
  
.searchBar {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Encode Sans', sans-serif;
    background-color: whitesmoke;
    border-style: solid;
}

.inputs {
    margin-left: 40px;
}

.inputDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.miniStartMarker {
    width: 15px;
    height: 15px;
    margin: 10px;
    margin-left: 0px;
}

.miniEndMarker {
    width: 15px;
    height: 22.44px;
    margin: 10px;
    margin-left: 0px;
}

#titleElements {
    display: block;
    background-color: whitesmoke;
    margin: 5px;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.5s;
}

#uw-wordmark-container {
    width: 120px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#uw-wordmark {
    width: 120px;
   
}

#title {
    color: #4B2E83;
    font-size: 20pt;
    width: 220px;
    box-sizing: border-box;
    margin: auto;
    padding-left: 5px;
    font-weight: 700;
    font-family: 'Castoro', sans-serif;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.uw-slant, .uw-slant-large {
    background-color: #b7a57a;
    transform: skew(-25deg,0);
    display: block;
    width: 120px;
    margin-left: 40px;
    height: 3px;
    margin-bottom: 10px;
    transition: 0.5s;
    flex-shrink: 0;
}


#title-slant {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.uw-slant-large {
    transform: skew(0deg,0);
    margin-left: 30px;
    width: 79.6%;
    height: 5px ;
}

#navSection {
    height: 160px;
}

#currentMode {
    display: none;
}

#aboutSection {
    margin-left: 40px;
    color: whitesmoke;
}

.contributor {
    font-size: 10.5pt;
    font-weight: 700;
    margin-top: 5px;
    text-overflow: ellipsis;
}

.contentSection {
    flex-shrink: 0;
    
    overflow: hidden ;
    transition: 0.5s;
    width: calc(90% - 40px);

    white-space: nowrap;

    text-overflow: ellipsis;
}

#locationIcon {
    margin-left: 20px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

#coffeeCupIcon {
    width: 35px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
}

#locationIconDiv {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 1px;
}

#githubIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#githubIcon:hover, #locationIcon:hover, #coffeeCupIcon:hover {
    opacity: 0.6;
}

.githubIconDiv {
    margin-right: 0px;
}

#feedbackInput {
    border-radius: 5px;
    font-family: 'Encode Sans', sans-serif;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 4px;
    margin-top: 0px;
    display: block;
    word-wrap: break-word;
}

#feedbackSection {
    margin-left: 40px;
}

#submitFeedback {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    background-color: #b7a57a;
    cursor: pointer;
    border-radius: 5px;
}

#submitFeedback:hover {
    background-color: #808080 !important;
    border-color: #b7a57a;
    /* border-color: #b51213; Red Color*/
    transition: 0.5s;
}

.invalid {
    pointer-events: none;
}

/* Loading Animation */

.navBtn {
	border-radius: 5px;
    width: 200px;
    height: 40px;
    font-family: 'Encode Sans', sans-serif;
    background-color: #b7a57a;
    cursor: pointer;
    z-index: 3;
	transition-duration: 0s !important;
}

.loading {
    display: block;
	border-radius: 50px;
	width: 40px !important;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, 0);
    background: transparent;
    border: none;
    outline: none;
}

.loading:hover, .spinner:hover {
    background: none !important;
}

.spinner {
	display: block;
	width: 30px;
	height: 30px;
    margin: auto;
	background: transparent;
	box-sizing: border-box;
	border-top: 3px solid white;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-radius: 100%;
	animation: spin 0.6s ease-out infinite;
    
}

@keyframes spin {
	100% {transform: rotate(360deg)}
}

/* Mobile CSS */

#expand-icon-div {
    display: none;
    width: 50px;
    height: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #4b2e83;
    position: relative;
    left: 50%;
    top: -3px;
    transform: translate(-50%, 0);
    z-index: 3;
    pointer-events: all;
}

.expand-icon-bar {
    margin: 2px;
}

@media only screen and (max-width: 600px) {
    /*
    @media only screen and (max-device-width: 600px) {
        #title {
            font-size: 50px;
            word-break: break-all;
        }
    }*/

    #sidebarLeft {
        position: relative;
        box-sizing: border-box;
        margin: 10px;
        margin-bottom: 0px;
        width: calc(100vw - 20px);
        height: 0px;
        padding-bottom: 5px;
        overflow: auto;
        flex: 1;
    }

    .header {
        margin-top: 5px;
    }

    #title {
        font-size: 5vw;
    }
    
    #titleElements {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        border-radius: 5px;   
    }

    #title, title-slant, uw-wordmark-container {
        display: inline-block !important;
        margin: 10px !important;
    }

    #title-slant {
        width: 40px;
        transform: skew(0deg, 0) rotate(90deg);
        margin-top: 27px;
        display: none;
       
    }

    #uw-wordmark-container {
        margin: auto;
        margin-right: 30px;
        width: 25%;
        
    }

    #uw-wordmark {
        width: 100%;
        height: 100%;
    }

    .sidebarRight {
        display: none;
    }

    .horizontalBar {
        position: fixed;
        bottom: 0px;
        margin: 10px;
        width: calc(100% - 60px);
        height: 80px;
        flex-wrap: wrap;
        align-items: stretch;
        padding: 20px;
        justify-content: space-between;
        align-content: space-between;
        font-size: 15px;

    }

    .marker, #distance, #eta, .tofrom {
        margin: 0px !important;
    }

    #startMarker, #endMarker {
        margin-right: 20px !important;
    }
    
    #startMarker {
        margin: -2.5px !important;
        margin-right: 17.5px !important;
    }

    .marker {
        width: 20px;
    }

    #distance, #eta {
        width: 0px;
    }

    /* force elements to take up entire space */
    #distance, #eta {
        flex-basis: 40%;
    }

    .tofrom{
       flex-basis: calc(60% - 40px);
    }

    /* Order elements correctly*/

    #startMarker, #from {
        order: 0;
    }

    #endMarker, #to {
        order: 2;
    }

    #distance {
        order: 1;
    }

    #eta {
        order: 3;
    }

    /* Prevent shrinking of uw-slant */
    .uw-slant {
        flex-shrink: 0;
    }

    .bar, #weatherDiv, #locationIconDiv, .githubIconDiv, #currentMode, #slider, #themeCheckbox, #switch, .horizontalSpacer {
        display: none !important;
    }
    
    select, input, .building.location, #feedbackText, #submitFeedback, #feedbackInput, .contributor, .credential {
        width: 90% !important;
        
    }

    #navBtn {
        width: 90%;
        
    }

    #expand-icon-div {
        display: block;
    }
  }

  /* Leaflet Circle */

  .circle-transition {
      transition: all 0s !important;
  }


 /* Terms */
 #terms {
     margin: auto;
     margin-bottom: 15px;
 }