@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Montserrat+Alternates:ital,wght@1,300&display=swap');
/* font-family: 'Cantarell', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@600&display=swap');
/*font-family: 'Spectral', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
/*font-family: 'Castoro', serif; */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700;800&display=swap');
/*font-family: 'Encode Sans', sans-serif;*/
/*available weights: 400, 800 */

.content {
    display: flex;
    flex-direction: row;
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 1s; /* 0.5 second transition effect to slide in the sidebar */
    pointer-events: none;
}


.sidebarLeft {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px;
    height: calc(100% - 20px);
    width: 288px;
    /*background-color:#202225; */ /* Grey*/
    background-color: #4b2e83;
    border-radius: 10px;
    transition: 0.5s;
    pointer-events: auto;
    font-family: 'Encode Sans', sans-serif;
}

.sidebarLeft:hover {
	transition: 0.5s;
}

.sidebarLeft:active {
    transform: translateY(-5px);
    transition: 1s;
}

.sidebarRight {
    height: 100%;
    width: 72px;
    text-align: center;
}

.logoIcon {
    border-color: #4b2e83;
    border-style: solid;
    border-width: 5px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    padding-top: 0%;
    border-radius: 1em; 
    pointer-events: auto;
    transition: 0.2s;
    /*transition: border-width 0.1s ease-in-out;*/
}

.logoIcon:hover {
    opacity: 0.8;
}

.logoIcon:active {
    transform: translateY(-5px);
    transition: 5s;
}

.header {
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 0px;
    color: whitesmoke;
    opacity: 1;
    font-size: 12pt;
    cursor: pointer;
    padding: 5px 5px 2px 2px;

}

.header:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.location {
    margin-left: 50px;
    color: whitesmoke;
    width: 200px;

    background-image: linear-gradient(#b7a57a,#b7a57a), linear-gradient(transparent,transparent);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .15s ease-in-out;
    font-weight: 600;
    cursor: pointer;
}

.location:hover {
    opacity: 1;
    background-size: 100% 1px, auto;
}


html, body { 
    height: 100%; 
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#map {
    top: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.horizontalBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4b2e83;
    width: calc(100% - 398px);
    height: 70px;
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s;
    color: whitesmoke;
    pointer-events: auto;
    font-family: 'Encode Sans', sans-serif;
}

.horizontalBar:hover {
    transition: 0.5s;
}

.startMarker  {
    width: 25px;
    height: 25px;
    margin: 20px;
}

.endMarker  {
    width: 20px;
    height: 30.72px;
    margin: 20px;
}

.tofrom {
    color: whitesmoke;
    transition: 0.1s;
}

.horizontalSpacer {
    width: 120px;
    font-size: 30pt;
}

.verticalSpacer {
    height: 40px;
}

.bar {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20pt;
    color: #b7a57a;
}

.select {
    border-radius: 3px;
    width: 200px;
    height: 40px;
    background-color: whitesmoke;
    color: black;
    border-width: 3px;
    transition: 0.5s;
    font-family: 'Encode Sans', sans-serif;
}

.select:hover {
    opacity: 0.6;
}

option {
    transition: 0.5s;
}

#navBtn {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-family: 'Encode Sans', sans-serif;
    background-color: whitesmoke;
    cursor: pointer;
}

#navBtn:hover {
    background-color: #b7a57a !important;
    border-color: whitesmoke;
    transition: 0.5s;
}

.vertical-menu {
    height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
    width: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
  
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.searchBar {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Encode Sans', sans-serif;
    background-color: whitesmoke;
    border-style: solid;
}

.inputs {
    margin-left: 40px;
}

.inputDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.miniStartMarker {
    width: 15px;
    height: 15px;
    margin: 10px;
    margin-left: 0px;
}

.miniEndMarker {
    width: 15px;
    height: 22.44px;
    margin: 10px;
    margin-left: 0px;
}

.titleElements {
    padding-top: 0px;
    display: block;
    text-align: center;
    background-color: whitesmoke;
    padding-top: 5px;
    margin: 5px;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.5s;
}

.uw-wordmark {
    width: 120px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.title {
    color: #4B2E83;
    font-size: 20pt;
    opacity: 1;
    font-weight: 700;
    font-family: 'Encode Sans', sans-serif;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.uw-slant, .uw-slant-large {
    background-color: #b7a57a;
    transform: skew(-25deg,0);
    display: block;
    width: 120px;
    margin-left: 40px;
    height: 3px;
    margin-bottom: 10px;
}

.uw-slant-large {
    transform: skew(0deg,0);
    margin-left: 30px;
    width: 220px !important;
    height: 5px !important;
}

#navSection {
    height: 160px;
}

.currentMode {
    margin-right: 10px;
}

#aboutSection {
    margin-left: 40px;
    color: whitesmoke;
}

.credential {
    font-size: 10pt;
    font-weight: 800;
    margin-left: 10px;
    margin-top: -10px;
}

.contentSection {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.weather {
    width: 25px;
    height: 25px;
    margin: 20px;
}