/*
Creates a switch to go from dark mode to light mode, and vice versa, in the UI.
Citation/Credit:
https://www.w3schools.com/howto/howto_css_switch.asp
*/



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 40px;
    height: 24px;
    border-color: white;
    border-width: 2px;
    border: solid;
    border-radius: 5em;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.1s;
    border-radius: 5em;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.1s;
    border-radius: 5em;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }