.info-icon {
  display: inline block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
  float: right;
  filter: invert(100%);
}

.info-icon:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s;
}

#nav-popup-container {
  width: 400px;
  height: 60px;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  left: 270px;
  top: 150px;
  padding: 5px;
  box-shadow: 4px 4px 0px 0px #b7a57a, 0em 0 0.4em #b7a57a;
}

.instruction-header {
  margin: 5px;
}

.underline {
  text-decoration: underline;
}

.is-visible {
  visibility: visible;
}

.is-not-visible {
  visibility: hidden;
}
