#logo {
    border-color: #4b2e83;
    border-style: solid;
    border-width: 5px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    padding-top: 0%;
    border-radius: 1em; 
    pointer-events: auto;
    transition: 0.2s;
    cursor: pointer;
    
    animation: updown 4s 3;
    animation-delay: 5s;
    /*transition: border-width 0.1s ease-in-out;*/
}

#logo:hover {
    opacity: 0.8;
}

#logo:active {
    transform: translateY(-5px);
    transition: 5s;
}

@keyframes updown {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}
